{%extends "index.html" %}

{% block content %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
		getWeeklyDataFromSensor('{{Max}}');

		if (isChromiumBased()) {
			const weekSelector = document.getElementById('week');
			weekSelector.addEventListener('change', (e) => getWeeklyDataFromSensor());
			return;
		}

		document.getElementById('non-chromium-group').style.display = 'block';
		document.getElementById('week').style.display = 'none';

		const nonChromiumWeek = document.getElementById('non-chromium-week');
		const nonChromiumYear = document.getElementById('non-chromium-year');

		nonChromiumWeek.addEventListener('change', (e) => {
			const week = e.target.value;
			const year = nonChromiumYear.value;
			getWeeklyDataFromSensor(`${year}-W${week}`);
		});

		nonChromiumYear.addEventListener('change', (e) => {
			const year = e.target.value;
			const week = nonChromiumWeek.value;
			getWeeklyDataFromSensor(`${year}-W${week}`);
		});
	});
</script>

<div class="container-fluid mt-3">
	<div id="notification-container"></div>
	<div class="row justify-content-center">
		<div class="col-md-4">
			<form>
				<div class="form-group">
					<label for="date" data-str="weekly_select"></label>
					<input class="form-control" type="week" id="week" min="{{Min}}" max="{{Max}}" value="{{Max}}"/>
				</div>
				<div class="form-group" id="non-chromium-group" style="display: none;">
					<input type="number" class="form-control" id="non-chromium-week" value="{{Max[6:]}}" min="1" max="52"/>
					<input type="number" class="form-control" id="non-chromium-year" value="{{Max[:4]}}" min="{{Min[:4]}}" max="{{Max[:4]}}" />
				</div>
			</form>
		</div>

		<div class="container mt-3">
			<div class="loader big" id="spinner"></div>
			<div class="chart-container">
				<canvas id="chart"></canvas>
			</div>
		</div>

	</div>
</div>
{% endblock %}
