{%extends "index.html" %}

{% block content %}
<div class="container mt-5">
	<div id="notification-container"></div>
	<div class="row justify-content-center">
		<div class="col-lg-12">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col" data-i18n="api_endpoints"></th>
							<th scope="col" data-i18n="api_methods"></th>
						</tr>
					</thead>
					<tbody>
							{% for route in Routes %}
							<tr>
								<th scope="row">{{ loop.index }}</th>
								<td><a href="{{ route[0] }}">{{ route[0] }}</a></td>
								<td>{{ route[1][0] }}</td>
							</tr>
							{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
