{%extends "index.html" %}

{% block content %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
		getDailyDataFromSensor('{{Max}}');
	});
</script>

<form>
	<div>
		<span data-i18n="daily_select"></span>
		<input type="date" id="date" min="{{Min}}" max="{{Max}}" value="{{Max}}"
			onchange="getDailyDataFromSensor()" />
	</div>
</form>

<div class="container">
	<div id="popup-container"></div>
	<div class="loader big" id="spinner"></div>
	<canvas id="chart"></canvas>
</div>
{% endblock %}
