{%extends "index.html" %}

{% block content %}
<div class="container mt-5">
	<div id="notification-container"></div>
	<div class="row justify-content-center gap-2">
		<div class="col-lg-12 flex-nowrap justify-content-end d-sm-flex">
			<div class="log-actions">
				<button class="btn btn-outline-danger" 
					onclick="deleteAllLogs(true)" 
					data-i18n="delete_all"/>
			</div>
		</div>
		<div class="col-lg-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col" data-i18n="error"></th>
						<th scope="col" data-i18n="timestamp"></th>
						<th scope="col" data-i18n="delete"></th>
					</tr>
				</thead>
				<tbody>
					{% if Logs %}
						{% for log in Logs %}
						<tr id="log_{{ loop.index }}" class="log-entry">
							<th scope="row">{{ loop.index }}</th>
							<td>{{ log[0] }}</th>
							<td>{{ log[1] }}</td>
							<td>
								<button class="btn btn-outline-danger btn-sm" 
									onclick="deleteLogByTimestamp('{{ loop.index }}', '{{ log[1] }}')" 
									data-i18n="delete"/>
							</td>
						</tr>
						{% endfor %}
					{% else %}
						<tr>
							<th scope="row">—</td>
							<td>—</td>
							<td data-i18n="logs_empty"></td>
							<td>—</td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
