{%extends "index.html" %}

{% block content %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
		getMonthlyDataFromSensor('{{Max}}');

		if (isChromiumBased()) {
			const monthSelector = document.getElementById('month');
			monthSelector.addEventListener('change', () => getMonthlyDataFromSensor());
			return;
		}

		const nonChromiumMonth = document.getElementById('non-chromium-month');
		const nonChromiumYear = document.getElementById('non-chromium-year');

		for (let i = 1; i <= 12; i++) {
			const month = i < 10 ? `0${i}` : `${i}`;
			const option = document.createElement('option');
			option.value = month;
			option.selected = (i === new Date().getMonth() + 1);
			option.textContent = new Date(0, i - 1).toLocaleString('default', { month: 'long' });
			nonChromiumMonth.appendChild(option);
		}

		document.getElementById('non-chromium-group').style.display = 'block';
		document.getElementById('month').style.display = 'none';
		nonChromiumYear.addEventListener('change', (e) => {
			const year = e.target.value;
			const month = nonChromiumMonth.value;
			getMonthlyDataFromSensor(`${year}-${month}`);
		});
		
		nonChromiumMonth.addEventListener('change', (e) => {
			const year = nonChromiumYear.value;
			const month = e.target.value;
			getMonthlyDataFromSensor(`${year}-${month}`);
		});
	});
</script>

<div class="container-fluid mt-3">
	<div id="notification-container"></div>
	<div class="row justify-content-center">
		<div class="col-md-4">
			<form>
				<div class="form-group">
					<label for="date" data-str="monthly_select"></label>
					<input class="form-control" type="month" id="month" min="{{Min}}" max="{{Max}}" value="{{Max}}"/>
				</div>
				<div class="form-group" id="non-chromium-group" style="display: none;">
					<input type="number" class="form-control" id="non-chromium-year" value="{{Max[:4]}}" min="{{Min[:4]}}" max="{{Max[:4]}}" />
					<select id="non-chromium-month" class="form-control"></select>
				</div>
			</form>
		</div>

		<div class="container mt-3">
			<div class="loader big" id="spinner"></div>
			<div class="chart-container">
				<canvas id="chart"></canvas>
			</div>
		</div>

	</div>
</div>
{% endblock %}
