{%extends "index.html" %}

{% block content %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
		getSensorStatistics();

		const clearLogs = document.getElementById('clear-logs');
		clearLogs.addEventListener('click', () => deleteAllLogs(false));

		const backup = document.getElementById('backup');
		backup.addEventListener('click', () => backupDatabase());

		const optimize = document.getElementById('optimize');
		optimize.addEventListener('click', () => optimizeDatabase());

		const empty = document.getElementById('empty-db');
		empty.addEventListener('click', () => emptyDatabase());

		const downloadBackup = document.getElementById('download-backup');
		downloadBackup.addEventListener('click', () => downloadDatabaseBackup());
	});
</script>

<div class="container mt-3">
	<div id="notification-container"></div>
	<div class="row justify-content-center gap-2">
		<div class="col-lg-4">
			<div class="card h-100 d-flex flex-column">
				<div class="card-body">
					<h4 class="card-title" data-str="tools_title"></h4>
					<div class="d-grid gap-2">
						<button class="btn btn-lg btn-outline-success" id="backup" data-str="tools_db_backup"></button>
						<button class="btn btn-lg btn-outline-success" id="optimize" data-str="tools_db_optimize"></button>
						<a href="/api/tools/database/backup/download"
							class="btn btn-lg btn-outline-success"
							id="download-backup"
							data-str="tools_download_db"
							download></a>

						<hr/>

						<button class="btn btn-lg btn-outline-danger" id="clear-logs" data-str="tools_clear_logs"></button>
						<button class="btn btn-lg btn-outline-danger">PLACEHOLDER</button>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="card h-100 d-flex flex-column">
				<div class="card-body">
					<h4 class="card-title" data-str="tools_statistics_title"></h4>
					<div class="loader big" id="spinner"></div>
					<p class="card-text" id="stat-count"></p>
					<p class="card-text" id="stat-first"></p>
					<p class="card-text" id="stat-last"></p>
					<p class="card-text" id="stat-avg-temp"></p>
					<p class="card-text" id="stat-avg-hum"></p>
					<hr/>
					<p class="card-text" id="stat-warmest-day"></p>
					<p class="card-text" id="stat-coldest-day"></p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
