:root {
  --temperature: rgba(255, 99, 132, 1);
  --temperature-bg: rgba(255, 99, 132, 0.5);
  --temperature-hover-radius: 8;

  --humidity: rgba(53, 162, 235, 1);
  --humidity-bg: rgba(53, 162, 235, 0.5);
  --humidity-hover-radius: 8;

  --chart-font-size: 14;
  --chart-foreground: rgba(141, 141, 141, 1);

  --chart-grid: rgba(141, 141, 141, 0.2);
}

.navbar-brand,
.navbar-text,
.nav-link {
  color: var(--bs-black) !important;
}

.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 70vh;
}
