<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title()}}</title>

	<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
	<script src="{{url_for('static', filename='js/main.js')}}" defer></script>
</head>

<body>
	<nav>
		{%for item in get_navbar_items()%}
		<a href="{{item['path']}}"{%if item['active']%} class="active"{%endif%}>
			{{item['text']}}
		</a>
		{%endfor%}
		<a href="#" id="current-temperature" class="right">
			<div class="loader"></div>
		</a>
	</nav>
	<div class="box-container">
		<div id="popup-container"></div>
		<div class="box">
			<h3>Thum</h3>
			<button class="btn error" onclick="deleteAllLogs(false)">Clear logs</button>
			<button class="btn success" onclick="backupDatabase()">Backup database</button>
			<button class="btn success" onclick="optimizeDatabase()">Optimize database</button>
			<button class="btn error" onclick="emptyDatabase()">Empty database</button>
			<a href="/sensor/database/backup/download"
				class="btn success"
				onclick="downloadDatabaseBackup()"
			 	download>Download database backup</a>
		</div>
		<div class="box">
			<h5 id="total-samples">Samples count: {{Data[0]}}</h5>
			<h5 id="total-samples">First sample: {{Data[1]}}</h5>
			<h5 id="total-samples">Latest sample: {{Data[2]}}</h5>
			<h5 id="total-samples">Average Temperature: {{Data[3]}}°C</h5>
			<h5 id="total-samples">Average Humidity: {{Data[4]}}%</h5>
			<hr/>
			<h5 id="total-samples">
				Warmest Day: {{HottestData[0]}}
				<p>{{HottestData[1]}}°C ({{HottestData[2]}}%)</p>
			</h5>
			<h5 id="total-samples">
				Coldest Day: {{ColdestData[0]}}
				<p>{{ColdestData[1]}}°C ({{ColdestData[2]}}%)</p>
			</h5>
		</div>
	</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</html>
