<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title()}}</title>

	<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
	<script src="{{url_for('static', filename='js/main.js')}}" defer></script>
</head>

<body onload="getDailyDataFromSensor('{{Max}}')">
	<nav>
		{%for item in get_navbar_items()%}
		<a href="{{item['path']}}"{%if item['active']%} class="active"{%endif%}>
			{{item['text']}}
		</a>
		{%endfor%}
		<a href="#" id="current-temperature" class="right">
			<div class="loader"></div>
		</a>
	</nav>

	<div class="form">
		<form>
			<div>
				<span>Select date</span>
				<input type="date" id="date" min="{{Min}}" max="{{Max}}" value="{{Max}}"
					onchange="getDailyDataFromSensor()" />
			</div>
		</form>
	</div>

	<div class="container">
		<div id="popup-container"></div>
		<div class="loader big" id="spinner"></div>
		<canvas id="chart"></canvas>
	</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</html>
