{%extends "index.html" %}

{% block content %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
		getDailyDataFromSensor('{{Max}}');
	});
</script>

<div>
	<form>
		<div>
			<span>Select date</span>
			<input type="date" id="date" min="{{Min}}" max="{{Max}}" value="{{Max}}"
				onchange="getDailyDataFromSensor()" />
		</div>
	</form>
</div>

<div class="container">
	<div id="popup-container"></div>
	<div class="loader big" id="spinner"></div>
	<canvas id="chart"></canvas>
</div>
{% endblock %}
