<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Thum</title>

	<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">

	<script>
		const locales = {};
		const current_locale = '{{locale()}}';
	</script>
	<script src="{{url_for('static', filename='js/i18n/' + locale() + '.js')}}"></script>
	<script src="{{url_for('static', filename='js/main.js')}}" defer></script>

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			document.querySelectorAll('[data-i18n]').forEach(element => {
				const key = element.getAttribute('data-i18n');
				element.textContent = locales[current_locale][key];
			});
		});
	</script>
</head>

<body>
	<header>
		<nav id="navigation">
			<a href="#" class="nav-hamburger" onclick="toggleMenu()">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</a>
			
			{% set active_page = request.endpoint %}

			<a href="{{ url_for('index') }}" class="nav-item {% if active_page == 'index' %}active{% endif %}" data-i18n="nav_all"></a>
			<a href="{{ url_for('daily') }}" class="nav-item {% if active_page == 'daily' %}active{% endif %}" data-i18n="nav_daily"></a>
			<a href="{{ url_for('weekly') }}" class="nav-item {% if active_page == 'weekly' %}active{% endif %}" data-i18n="nav_weekly"></a>
			<a href="{{ url_for('monthly') }}" class="nav-item {% if active_page == 'monthly' %}active{% endif %}" data-i18n="nav_monthly"></a>
			<a href="{{ url_for('tools') }}" class="nav-item {% if active_page == 'tools' %}active{% endif %}" data-i18n="nav_tools"></a>
			<a href="{{ url_for('logs') }}" class="nav-item {% if active_page == 'logs' %}active{% endif %}" data-i18n="nav_logs"></a>

			<a href="#" id="current-temperature" class="nav-item right">
				<div class="loader"></div>
			</a>
		</nav>
	</header>

	<main>
		{% block content %}
		<script>
			document.addEventListener('DOMContentLoaded', function() {
				getAllDataFromSensor();
			});
		</script>
	
		<div class="container">
			<div class="popup-container"></div>
			<div class="loader big" id="spinner"></div>
			<canvas id="chart"></canvas>
		</div>
	
		{% endblock %}
	</main>

  <footer>
    <p>Crafted with ♥️ and ☕ — open-source on <a class="gh-link" href="https://github.com/jokkeez/thum">Github</a>.</p>
  </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</html>
