{%extends "index.html" %}

{% block content %}
<div class="container">
	<div id="notification-container"></div>
	<div class="log-actions">
		<button class="btn error" 
			onclick="deleteAllLogs(true)" 
			data-i18n="delete_all"/>
	</div>
	<table>
		<thead>
			<tr>
				<th data-i18n="error"></th>
				<th data-i18n="timestamp"></th>
				<th data-i18n="delete"></th>
			</tr>
		</thead>
		<tbody>
			{%if Logs%}
				{%for log in Logs%}
				<tr id="log_{{log[1]}}" class="log_entry">
					<td>{{log[0]}}</td>
					<td>{{log[1]}}</td>
					<td>
						<button class="btn error" 
							onclick="deleteLogByTimestamp('{{log[1]}}')" 
							data-i18n="delete"/>
					</td>
				</tr>
				{%endfor%}
			{%else%}
				<tr>
					<td>—</td>
					<td data-i18n="logs_empty"></td>
					<td>—</td>
				</tr>
			{%endif%}
		</tbody>
	</table>
</div>
{% endblock %}
