<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title()}}</title>

	<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
	<script src="{{url_for('static', filename='js/main.js')}}" defer></script>
</head>

<body>
	<nav>
		{%for item in get_navbar_items()%}
		<a href="{{item['path']}}"{%if item['active']%} class="active"{%endif%}>
			{{item['text']}}
		</a>
		{%endfor%}
	</nav>

	<div class="container">
		<div id="popup-container"></div>
		{%if Logs%}
		<div class="log-actions">
			<button class="btn error" onclick="deleteAllLogs(true)">Delete all</button>
		</div>
		{%endif%}
		<table>
			<thead>
				<tr>
					<th>Error</th>
					<th>Timestamp</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{%for log in Logs%}
				<tr id="log_{{log[1]}}" class="log_entry">
					<td>{{log[0]}}</td>
					<td>{{log[1]}}</td>
					<td><button class="btn error" onclick="deleteLogByTimestamp('{{log[1]}}')">Delete</button></td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
	</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</html>
