{%extends "index.html" %}

{% block content %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
		getSensorStatistics();
	});
</script>

<div class="box-container">
	<div id="notification-container"></div>
	<div class="box">
		<h3 data-i18n="tools_title"></h3>
		<button class="btn error" onclick="deleteAllLogs(false)" data-i18n="tools_clear_logs"></button>
		<button class="btn success" onclick="backupDatabase()" data-i18n="tools_db_backup"></button>
		<button class="btn success" onclick="optimizeDatabase()" data-i18n="tools_db_optimize"></button>
		<button class="btn error" onclick="emptyDatabase()" data-i18n="tools_db_empty"></button>
		<a href="/sensor/database/backup/download"
			class="btn success"
			onclick="downloadDatabaseBackup()"
			data-i18n="tools_download_db"
			download></a>
	</div>
	<div class="box">
		<h3 data-i18n="tools_statistics_title"></h3>
		<h5 id="stat-count"></h5>
		<h5 id="stat-first"></h5>
		<h5 id="stat-last"></h5>
		<h5 id="stat-avg-temp"></h5>
		<h5 id="stat-avg-hum"></h5>
		<hr/>
		<h5 id="stat-warmest-day"></h5>
		<h5 id="stat-coldest-day"></h5>
	</div>
</div>
{% endblock %}
