<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ Title() }}</title>

	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
	<link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
	<script src="{{url_for('static', filename='js/main.js')}}" defer></script>
</head>

<body onload="getWeeklyDataFromSensor('{{ Max }}')">
	{{ Nav()|safe }}

	<div class="form">
		<form>
			<div>
				<span>Select week</span>
				<input type="week" id="week" min="{{ Min }}" max="{{ Max }}" value="{{ Max }}"
					onchange="getWeeklyDataFromSensor()" />
			</div>
		</form>
	</div>

	<div class="container">
		<canvas id="chart"></canvas>
	</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</html>
