{%extends "index.html" %}

{% block content %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
		getWeeklyDataFromSensor('{{Max}}');
	});
</script>

<form>
	<div>
		<span>Select week</span>
		<input type="week" id="week" min="{{Min}}" max="{{Max}}" value="{{Max}}"
			onchange="getWeeklyDataFromSensor()" />
	</div>
</form>

<div class="container">
	<div id="popup-container"></div>
	<div class="loader big" id="spinner"></div>
	<canvas id="chart"></canvas>
</div>
{% endblock %}
