:root {
	--alternative-bg: #333333;
	--text: #F2F2F2;
	--body-bg: #22272e;
	--active-highlight: #30AA9A;
	--border: #FFFFFF1A;
	--red: #FF6347;
	--green: #009900;

	--notification-pos: 20px;
}

* {
	font-family: Arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--body-bg);
}

.container {
	margin: 0 auto;
	width: 90%;
	height: 80vh;
}

.container-left {
	float:left;
	width: 75%;
}

.container-right {
	float:right;
	width: 25%;
}

h1 {
	color: var(--text);
	margin: 0 auto;
}

ul, li {
	color: var(--text);
}

nav {
	background-color: var(--alternative-bg);
	overflow: hidden;
}

.deletebtn {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--border);
  border-radius: 4px;
  background-color: var(--alternative-bg);
  color: var(--text);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.deletebtn:hover {
  background-color: var(--body-bg);
  border-color: var(--red);
  color: var(--red);
}

.deletebtn:active {
  background-color: var(--red);
  color: var(--text);
}

.successbtn {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--border);
  border-radius: 4px;
  background-color: var(--alternative-bg);
  color: var(--text);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.successbtn:hover {
  background-color: var(--body-bg);
  border-color: var(--green);
  color: var(--green);
}

.successbtn:active {
  background-color: var(--green);
  color: var(--text);
}

nav a {
	float: left;
	display: block;
	color: var(--text);
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover {
	transition: background-color 0.3s, border-color 0.3s, color 0.3s;
	background-color: var(--active-highlight);
	color: var(--text);
}

form {
	text-align: center;
	color: var(--text);
}

form span {
	display: block;
}

.active {
	background-color: var(--active-highlight);
}

.active:hover {
	background-color: var(--active-highlight);
	color: var(--text);
}

table {
	color: var(--text);
	width: 70%;
	border-collapse: collapse;
	margin: 20px auto;
}

.log-actions {
	color: var(--text);
	width: 70%;
	margin: 20px auto;
	text-align: right;
}

th, td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid var(--alternative-bg);
}

th {
	background-color: var(--alternative-bg);
}

tr:nth-child(even) {
	background-color: var(--alternative-bg);
}

input[type="month"],
input[type="date"],
input[type="week"] {
	width: 200px;
	padding: 8px;
	border: 1px solid var(--border);
	border-radius: 4px;
	background-color: var(--alternative-bg);
	color: var(--text);
}

input[type="month"]:focus,
input[type="date"]:focus,
input[type="week"]:focus {
	outline: none;
	border-color: var(--border);
}

input[type="month"]::-webkit-calendar-picker-indicator,
input[type="week"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.stat-container {
  display: flex;
  flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	margin-top: 100px;
}

.box {
  width: calc(50% - 10px);
	margin: 3px;
	padding-bottom: 10px;
	border: 2px solid var(--border);
  border-radius: 4px;
  background-color: var(--alternative-bg);
  text-align: center;
	color: var(--text);
}

.box > .btn {
	width: calc(50% - 20px);
	margin-bottom: 5px;
}

.box > .btn-long {
	width: calc(100% - 60px);
	margin-bottom: 5px;
}

.box > hr {
	width: 70%;
}

#notification {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text);
	background-color: var(--alternative-bg);
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px var(--body-bg);
  transition: top 0.5s ease-in-out;
  z-index: 1000;
}

.success {
	background-color: var(--green) !important;
}

.error {
	background-color: var(--red) !important;
}

#notification.show:nth-child(1) {
	top: var(--notification-pos);
}

#notification.show:nth-child(2) {
	top: calc(var(--notification-pos) + (60px * 1));
}

#notification.show:nth-child(3) {
	top: calc(var(--notification-pos) + (60px * 2));
}

#notification.show:nth-child(4) {
	top: calc(var(--notification-pos) + (60px * 3));
}
