:root {
	--alternative-bg: #333333;
	--text: #F2F2F2;
	--body-bg: #22272e;
	--active-highlight: #30AA9A;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: var(--body-bg);
}

.container {
	width: 85%;
	margin: 0 auto;
}

.container-left {
	float:left;
	width: 75%;
}

.container-right {
	float:right;
	width: 25%;
}

h1 {
	color: var(--text);
	text-align: center;
}

hr {
	width: 200px;
}

ul, li {
	color: var(--text);
}


nav {
	background-color: var(--alternative-bg);
	overflow: hidden;
}

.deletebtn {
	background-color: var(--text);
	border: 1px var(--body-bg);
	color: var(--alternative-bg);
}
.deletebtn:hover {
	background-color: var(--active-highlight);
	border: 1px var(--body-bg);
	color: var(--text);
}

nav a {
	float: left;
	display: block;
	color: var(--text);
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover {
	background-color: var(--text);
	color: var(--alternative-bg);
}

form {
	text-align: center;
	color: var(--text);
}

form span {
	display: block;
}

.active {
	background-color: var(--active-highlight);
}

.active:hover {
	background-color: var(--active-highlight);
	color: var(--text);
}

table {
	color: var(--text);
	width: 70%;
	border-collapse: collapse;
	margin: 20px auto;
}

th, td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid var(--alternative-bg);
}

th {
	background-color: var(--alternative-bg);
}

tr:nth-child(even) {
	background-color: var(--alternative-bg);
}

.github-fork-ribbon:before { 
	background-color: var(--active-highlight); 
}
