.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.gh-link {
  color: var(--bs-info-text-emphasis) !important;
}

.navbar-brand,
.navbar-text,
.nav-link {
  color: var(--bs-black) !important;
}

.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 70vh;
}

@media screen and (max-width: 600px) {
  .chart-container {
    height: 60vh;
  }
}
