.navbar-brand,
.navbar-text,
.nav-link {
  color: var(--bs-black) !important;
}

.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 70vh;
}
